{% extends 'layout.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/todos.css' %}">
{% endblock %}

{% block title %} Todo List {% endblock %}

{% block content %}
    <div class="todo-title-container">
        <h1>Todo List</h1>
    </div>

    <div class="todo-list">
        <table class="todo-table">
            <tbody>
            <tr class="todo-table-header">
                <th>Complete</th>
                <th>Title</th>
                <th>Actions</th>
            </tr>

            {% for todo in todos %}
                <tr class="todo-table-row">
                    <td>
                        <input type="checkbox" value="{{ todo.completed }}"/>
                    </td>
                    <td>
                        <span>{{ todo.title }}</span>
                    </td>
                    <td>
                        <div class="todo-actions">
                            <a class="todo-action" href="{% url 'todo' todo.id %}">
                                <i class="fa-solid fa-pencil icon-edit"></i>
                            </a>
                            <form method="post" action="{% url 'todo' todo.id %}">
                                {% csrf_token %}
                                <input type="hidden" name="_method" value="DELETE"/>
                                <input type="hidden" name="_todo_id" value="{{ todo.id }}"/>
                                <button class="todo-action" type="submit">
                                    <i class="fa-solid fa-trash icon-delete"></i>
                                </button>
                            </form>
                        </div>
                    </td>
                </tr>
                </tbody>
            {% endfor %}
        </table>
    </div>
{% endblock %}