.todo-menu {
    display: flex;
    justify-content: end;
    padding: 0 2rem;
}

.todo-menu-item-container {
    list-style: none;
    display: flex;
}

.todo-menu-item {
    background-color: lightgray;
    padding: 0.5rem;
    border-radius: 5px;
    margin: 0 0.5rem;

    &:hover {
        background-color: lightgreen;
    }

    a {
        text-decoration: none;
        color: black;
    }
}