label {
    font-weight: bold;
}

.form-control {
    margin-bottom: 0.5rem;
}

.todo-new-title-container {
    text-align: center;
}

.todo-new-submit-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;

    input[type=submit] {
        width: 200px;
        background-color: lightgray;
        color: var(--text-color);
        cursor: pointer;

        &:hover {
            background-color: var(--primary-color);
        }
    }
}

